{% extends 'base.html' %}

{% block title %} froget password {% endblock title %}

{% block content %}
<div class="container mt-5" style="background-color: #d2d9e0;">
<h2 class="text-center mb-4">Forget Password</h2>
    <form method="POST" class="p-4 border rounded shadow">
    {% if messages %}
    {% for msg in messages %}
    <div class="alert alert-primary" role="alert">
            {{msg}}
        </div>
    {% endfor %}
    {% endif %}
    {% csrf_token %}
    <div class="mb-3">
        {{form.email.label}}
        {{form.email}}
        {% if form.non_field_errors %}
        <div style="color:red;">{{form.non_field_errors}}</div>
        {% endif %}
      </div>
      <input type="submit" class="btn btn-danger" value="verify email">
</form>
</div>
{% endblock content %}