{% extends 'base.html' %}
{% block content %}
<div class="container mt-5" style="background-color: #d2d9e0;">
<h2 class="text-center mb-4">Login</h2>
    <form method="POST" class="p-4 border rounded shadow" novalidate  style="background-color: #d2d9e0;">
        {% csrf_token %}
        
        {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-{{msg.tags}}" role="alert">
            {{msg}}
        </div>
        {% endfor %}
        {% endif %}
        <div class="mb-3">
            <div style="color: red;">
            {% if form.non_field_errors %}
            {{form.non_field_errors}}
            {% endif %}
            </div>
        </div>
        <div class="mb-3">
            {{form.email.label}}
            {{form.email}}
            <div style="color: red;">
            {% if form.email.errors %}
            {{form.email.errors}}
            {% endif %}
            </div>
        </div>
        <div class="mb-3">
            {{form.password.label}}
            {{form.password}}
            <div style="color: red;">
            {% if form.password.errors %}
            {{form.password.errors}}
            {% endif %}
            </div>
        </div>
       
        
        
        
        <button type="submit" class="btn btn-primary">Submit</button>
        
    </form>
    <br>
    <div class="container  m-6">

        <a href="{% url 'google_login' %}"> <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
        type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
  <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
</svg></i> Sign in with google</button></a>

         <a href="{% url 'register' %}"> Create an Account ?</a>
    </div>
    <br>
    <a href="{% url 'forget' %}">Forget Password</a>
    <hr>
</div>
{% endblock content %}